html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: dimgrey;
  max-width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  height: 4rem;
  position: fixed;
  z-index: 20;
  background-color: white;
  width: 100%;
  justify-content: space-between;
}

header .desktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header #colmarlogo {
  padding-left: 1.5rem;
}

header #colmar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

header #headernav {
  display: flex;
  justify-content: flex-end;
}

nav {
  text-align: right;
  align-items: center;
  justify-content: flex-end;
}

ul {
  display: flex;
}

nav li {
  padding-right: 1rem;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

}

h1 {
  font-weight: bold;
  font-size: 4rem;
  padding: 2rem 0 2rem 0;
}

h3 {
  font-weight: 200;
  font-size: 2rem;
  padding: 1rem 0 1rem 0;
}

p {
  word-spacing: 2px;
  line-height: 120%;
}

footer {
  display: flex;
  margin-top: 5rem;
  border-top: 1px solid lightgrey;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

footer #footernav {
  display: flex;
  justify-content: flex-end;
}


.main-content {
  max-width: 100%;
  border-left: 1px solid dimgrey;
  border-right: 1px solid dimgrey;
  position: relative;
  top: 4rem;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.button {
  background-color: gray;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0.5rem 0 0.5rem 0;
  margin: 1rem 0 0 0;
  max-width: 18rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.course {
  background-color: white;
  max-height: auto;
  max-width: 300px;
  margin: 0 1rem 0 1rem;
  padding-bottom: 1.5rem;
}

.course h3, p {
  padding-left: 1rem;
}

.course img {
  max-width: 100%;
  max-height: 45%;
}

.link {
  color: blue;
  padding-top: 0.5rem;
}

.aside {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 2rem;
  width: 423px;
  height: 168px;
  padding: 1rem;
}

.aside img {
  max-width: 70%;
  padding: 1rem;
}

.aside h3 {
  padding-left: 1rem;
}

#name2 {
  color: grey;
}

#banner,
#speakers,
#fisma {
  background-color: gainsboro;
}

#bannerimage,
#maininfo,
#video {
  max-width: 60%;
  max-height: auto;
}

#bannerimage img {
  max-width: 100%;
  padding: 2rem 2.5rem 2rem 1.5rem;
}

#bannertxt {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-left: 2.5rem;
}

#bannertxt p {
  font-weight: 400;
}

#maininfo img {
  max-width: 100%;
  padding: 2rem 2.5rem 2rem 1.5rem;
}

#maininfo h1 {
  padding: 2rem 0 1.5rem 1.5rem;
}

#sidebarinfo {
  margin-left: 4rem;
  border-left: 1px solid lightgrey;
}

#campus {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

#courseinfo {
  flex-direction: column;
  background-color: whitesmoke;
}

#courses {
  padding: 0.5rem 0 0.5rem 1rem;
}

#centraltitle {
  text-align: center;
}
